HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
inhaCarPool_SERVER/src/main/generated/
inhaCarPool_SERVER/src/.env

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# firebase Admin SDK
inhaCarPool_SERVER/src/main/resources/serviceAccountKey.json
inhaCarPool_SERVER/src/main/java/com/example/inha_carpool/service/FCMService.java


inhaCarPool_SERVER/local.properties
